
  <div class="container">
    <div class='hologram'>NEOTRACKER v. 1.3<div>[user 4471]</div></div>

  <div class="grid flex p-0 m-0">
    <div class="col-1 flex vertical-align-middle justify-content-center align-content-center">
      <span class="material-symbols-rounded m-0" style="align-self: center" [routerLink]="['/main']">arrow_back_ios_new</span>
      <span class="material-symbols-rounded" style="display: block; align-self: center; font-size: 40px;" [routerLink]="['/main']">home</span>
    </div>
    <div class="col-10 vertical-align-middle text-center flex justify-content-center">
      <div class="nested-grid">
        <div class="col-12"><h2>Покупка</h2></div>
      </div>
    </div>
    <div class="col-1 vertical-align-middle justify-content-center align-content-center"></div>
  </div>


  <p-accordion [activeIndex]="0">
    <p-accordionTab header="NeoTracker">
        <p><b class="success">Интерактивная история по мотивам вселенной киберпанк.</b></p>
        <p>Действие происходит в 2165 году в столице Соединенных государств России - Нео Москве 2.3. Ты - с виду просто житель киберполиса, но однажды тебе
            открывают глаза на то, что корпорации не просто шпионят за людьми, а предпринимают попытки ими управлять.</p>
        <p>Чем больше ты узнаешь, тем больше странных веще происходит: человек, который тебе показал истину, в итоге оказался предателем. <b class="success">Зачем?</b></p>
        <p>С другой стороны, это помогло тебе встретить старого друга, он-то уж точно тебя не подставит. <b class="success">Совпадение?</b></p>
        <p>Кажется, что за всей этой историей стоят крупные корпорации. Хотя и правительство не против получить такой контроль и сохранить о нём тайну. <b class="success">Кажется?</b></p>
        <p>А может за ними стоит кто-то более могущественный? <b class="success">Но кто?</b></p>
        <p><b class="success">Всё происходящее порождает только вопросы.</b></p>
        <p>Тебе предстоит докопаться до истины! <b class="success">А ты сможешь?</b></p>
    </p-accordionTab>
    <p-accordionTab header="Условия покупки">

<p><b class="success">1. Предмет соглашения</b></p>
<ul><li>Пользователь приобретает доступ к цифровому контенту («Интерактивная история»), который предоставляется в виде текстовых и/или графических материалов через Telegram-бота.</li></ul>

<p><b class="success">2. Порядок предоставления доступа</b></p>
<ul><li>Полный контент считается предоставленным с момента оплаты, даже если: Пользователь увидел только часть вариантов развития; Не все ветки сюжета были активированы.</li>
  <li>История развивается нелинейно: дальнейший сюжет и доступ к новым главам зависят выбора пользователя.</li>
  <li>Контент не может быть разделен на части, и его стоимость не подлежит пропорциональному пересчету в случае частичного использования.</li></ul>

  <p><b class="success">3. Бесплатный функционал бота</b></p>
  <ul><li>Бот может предоставлять дополнительные функции (например, уведомления, базовые команды, техническую поддержку), которые не входят в платный доступ и предоставляются бесплатно.</li>

<li>Качество бесплатного функционала (скорость работы, доступность) не является основанием для возврата средств за платный контент.</li></ul>


        <b class="success">«Оплачивая доступ, вы подтверждаете понимание, что:</b>
        <ul>
        <li>Контент раскрывается постепенно в зависимости от ваших действий</li>
        <li>Стоимость рассчитывается за весь комплекс возможных сюжетных линий</li>
        <li>Неполное прохождение не является основанием для частичного возврата</li>
        </ul>
    </p-accordionTab>
    <p-accordionTab header="Условия возврата">

<p><b class="success">В соответствии с п. 14 ст. 26.1 Закона РФ "О защите прав потребителей":</b></p>
<p><b class="success">1. Общие положения</b></p>
  <ul><li>Цифровой контент (электронные книги, подписки, медиафайлы и иные товары, не имеющие материального носителя) не подлежит возврату или обмену после его получения и начала использования, при условии надлежащего качества.</li></ul>

  <p><b class="success">2. Пробный период</b></p>
  <ul>
    <li>Перед покупкой пользователю был предоставлен бесплатный пробный период, в течение которого он мог ознакомиться с товаром и убедиться в его соответствии ожиданиям.</li></ul>

  <p><b class="success">3. Возврат средств не производится, если:</b></p>
  <ul>
    <li>Пользователь начал взаимодействие с историей (сделал хотя бы один выбор).</li>
  <li>Пользователь передумал после получения достпа к контенту.</li>
  <li>Контент был частично или полностью использован.</li>
  <li>При истечении 3 дней с момента покупки.</li></ul>

  <p><b class="success">4. Возврат средств возможен только в следующих случаях:</b></p>
  <ul>
    <li>Техническая невозможность использования – если контент не открывается или поврежден.</li>
    <li>Ошибка при покупке – если оплата прошла, но доступ не предоставлен.</li>
    <li>Несоответствие описанию – если содержание контента существенно отличается от заявленного.</li></ul>

  <p><b class="success">5. Процедура возврата</b></p>
  <p><b>Для запроса возврата средств необходимо в течение 3 дней с момента покупки:</b></p>
    <ul><li>Написать в поддержку (&#64;anderskaev).</li>
    <li>Указать номер заказа и причину возврата.</li>
    <li>Приложить подтверждение оплаты.</li></ul>

<p>Решение о возврате принимается в течение 10 рабочих дней. Если возврат одобрен, средства будут зачислены тем же способом, которым была совершена оплата.</p>

    </p-accordionTab>
    <p-accordionTab header="Политика конфиденциальности">
      <p><b class="success">1. Общие положения</b></p>
      <ul><li>Настоящая Политика определяет порядок обработки персональных данных пользователей Telegram-бота «NeoTracker» (далее — «Бот»).</li>
      <li>Используя Бот, вы соглашаетесь с условиями данной Политики.</li></ul>
      <p><b class="success">2. Какие данные собираются</b></p>
      <p><b>Бот обрабатывает только данные, необходимые для работы интерактивной истории:</b></p>
      <ul><li>ID пользователя в Telegram (для сохранения прогресса)</li>
      <li>Выборы пользователя в процессе прохождения истории</li>
      <li>Статистические данные пользователя (шаги, вода, калории), указанные добровольно</li>
      <li>Технические данные</li></ul>
      <p><b>Не собираются:</b></p>
      <ul><li>Имя, фамилия, номер телефона (если не введены пользователем добровольно)</li>
      <li>Платежные данные (обрабатываются платежными системами Telegram)</li></ul>
      <p><b class="success">3. Цели обработки данных</b></p>
      <p><b>Данные используются исключительно для:</b></p>
      <ul><li>Персонализации сюжета (учет выборов пользователя)</li>
      <li>Сохранения прогресса в истории</li>
      <li>Технической поддержки и улучшения работы Бота</li>
      <li>Данные не передаются третьим лицам, кроме случаев, предусмотренных законом.</li></ul>
      <p><b class="success">4. Хранение и защита данных</b></p>
      <ul><li>Данные хранятся на защищенных серверах, расположенных на территории России.</li>
      <li>Срок хранения до завершения пользователем сюжета или 1 года неактивности</li></ul>
      <p><b class="success">5. Права пользователя</b></p>
      <ul><li>Вы можете отказаться от обработки данных (прекратив использование Бота)</li></ul>
      <p><b class="success">6. Особые условия</b></p>
      <ul><li>Бот использует локальное хранилище (local storage) для сохранения отдельных этапов прогресса.</li></ul>

      <p><b class="success">Дата последнего обновления: 25.05.2025</b></p>
    </p-accordionTab>
</p-accordion>

<br>


<div class="settings">
  <div class="flex grid text">
    <div class="col-8  flex align-items-center"><!-- dailydata col3+col3+col6 -->
      <label for="silent">
        Я внимательно прочитал и принимаю все условия
      </label>
    </div>
    <div class="col-4  flex align-items-center">
      <p-inputSwitch
      [(ngModel)]="accept"
      [trueValue] = "true"
      [falseValue] = "false"
      />
    </div>


  </div> <!-- grid  🕓 -->
  </div>


<br/>
<div class="console-buttons">
  <button (click)="buy()">Купить {{price}} {{currency}}</button>
  <button class="back-button" [routerLink]="['/main']">Назад</button>
</div>

